name: Athar Video & Like Receiver
on:
  repository_dispatch:
    types: [new_video_upload, update_like]

permissions:
  contents: write

jobs:
  receive:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Create Temp Entry
        run: |
          mkdir -p queue
          EVENT_TYPE="${{ github.event.action }}"
          if [ "$EVENT_TYPE" == "new_video_upload" ]; then
            cat <<EOF > queue/vid_${{ github.event.client_payload.file_id }}.json
            {
              "file_id": "${{ github.event.client_payload.file_id }}",
              "video_title": "${{ github.event.client_payload.video_title }}",
              "timestamp": $(date +%s)
            }
            EOF
          elif [ "$EVENT_TYPE" == "update_like" ]; then
            cat <<EOF > queue/like_${{ github.event.client_payload.video_id }}_$RANDOM.json
            {
              "video_id": "${{ github.event.client_payload.video_id }}",
              "action": "${{ github.event.client_payload.action }}",
              "timestamp": $(date +%s)
            }
            EOF
          fi
      - name: Commit & Push to Queue
        run: |
          git config --global user.name 'Athar Receiver'
          git config --global user.email 'bot@athar.com'
          git add queue/
          git commit -m "New entry in queue" || exit 0
          git pull --rebase origin main
          git push
